body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* To define how the book look on the screen: */

:root {


  /* color for the interface */
  --color-background: rgba(0, 0, 0, 0.2);
  --color-marginBox: transparent;
  --color-pageBox: transparent;
  --color-paper: white;

  /* color used for the baseline */
  --pagedjs-baseline-color: cyan;

  /* height of the baseline*/
  --pagedjs-baseline: 8px; 



}
